@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gothic A1', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1152px;
    margin: 0 auto;
}

.btn__primary {
    max-width: 170px;
    padding: 20px 40px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    border-radius: 3px;
    border: 1px solid #FC0A7E;
    background: #FC0A7E;
    transition: all 0.3s ease;
}

.btn__primary:hover {
    background: transparent;
    /* box-shadow: 0 0 3px 2px #CF0063; */
}

.btn__light {
    max-width: 170px;
    padding: 20px 40px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    border-radius: 3px;
    border: 1px solid #FC0A7E;
    background: transparent;
    transition: all 0.3s ease;
}

.btn__light:hover {
    background: #FC0A7E;
}

/* Header */

header {
    position: absolute;
    width: 100%;
}
.navbar{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav__list-item a {
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.3s ease-in;
}

.nav__list-item a:hover {
    color: #FC0A7E;
}

/* End of Header */


/* Hero section */
.hero {
    background: linear-gradient(287deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0.00) 100%), #CF0063;
}

.hero__section {
    padding-top: 100px;
    background-image: url(../images/strelkacha.svg);
    background-repeat: no-repeat;
    background-position: bottom 30px center;
}

.bg__part {
    padding-top: 177px;
    padding-bottom: 277px;
    background-image: url(../images/bg__hero.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: calc(50vw + 40px);
}

.hero__wrapper {
    display: flex;
    flex-direction: column;
}

.hero__title {
    padding-top: 20px;
    color: #FFF;
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
}

.hero__desc {
    padding: 10px 0 25px;
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 44px; 
}


/* End of Hero section */

/* Menu Section */

.menu {
    background: #1B1B1B;
    padding: 80px 0 655px;
    background-image: url(../images/bg__section2.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.menu__wrapper {
    display: flex;
    width: 700px;
    padding: 20px 46px 55px 47px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.menu__title {
    color: #A8A8A8;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu__desc {
    color: #FFF;
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px;
}

/* End of Menu Section */


/* Information section */

.information__wrapper {
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info__title {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 2px;
    text-transform: uppercase;
}

.info__subtitle {
    color: #000;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px; 
    margin: 30px 0 70px;
}

.info__desc {
    max-width: 306px;
    color: #6B6B6B;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; 
}

/* End of Information section */

/* Activity section */

.activity__list {
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.activity__list-item h2 {
    margin: 40px 0 17px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.activity__stats-item p {
    color: #6B6B6B;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.activity__stats {
    list-style: none;
    margin: 165px 0;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.activity__stats h2 {
    color: #333;
    text-align: center;
    font-family: Gothic A1;
    font-size: 59px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px; /* 152.542% */
}

.activity__stats-item p {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;  
}

/* End of Activity section */

/* Hamburger section */

.hambergur__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 160px;
}

.hamburger__title {
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hamburger__subtitle {
    margin: 30px 0 22px;
    max-width: 258px;
    color: #000;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px; 
}

.hamburger__desc {
    max-width: 330px;
    color: #6B6B6B;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

.hamburger__desc span {
    text-decoration-line: underline;
}
/* End of Hamburger section */

/* News section */

.news__part {
    text-align: center;
}

.news__part img{
    margin-bottom: 60px;
    
}

.news__part p {
    max-width: 700px;
    margin: 0 auto;
    color: #6B6B6B;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}

.news__info {
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.news__info h3 {
    color: #6B6B6B;
    text-align: center;
    font-size: 16px;
    line-height: 30px; 
}

.line {
    width: 30px;
    height: 1px;
    background: #D3D3D3;
}

.dots {
    margin-top: 88px;
    margin-bottom: 142px;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.logos {
   text-align: center;
   margin-bottom: 118px;
}

.bg__phone {
    height: 518px;
    background-image: url(../images/bg_phone.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

/* End of News section */

/* Download section */

.download {
    background: linear-gradient(287deg, #450E4B 0%, #6E28B1 24.48%, rgba(207, 0, 99, 0.00) 100%), #CF0063;
    
}

.download__wrapper {
    padding-top: 165px;
    padding-bottom: 156px;
    background-image: url(../images/tolqin.svg);

}

.download__title {
    color: #FFF;
    text-align: center;
    font-size: 38px;
    font-weight: 400;
    line-height: 48px; 
}

.buttons {
    margin-top: 40px;
    text-align: center;
}


/* End of Download section */